<div class="card mb-2 ">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-chart-bar"></i> Estadisticas</h5>
    </div>
    <div class="card-body">
        <p><i class="fa fa-images"></i> Imagenes: {{sidebar.estadisticas.imagenes}}</p>
        <p><i class="fa fa-comments"></i> Comentarios: {{sidebar.estadisticas.Comentarios}}</p>
        <p><i class="fa fa-eye"></i> Vistas: {{sidebar.estadisticas.Views}}</p>
        <p><i class="fa fa-thumbs-up"></i> Likes: {{sidebar.estadisticas.Likes}}</p>
    </div>

</div>