<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-fire"></i> Más Populares</h5>
    </div>

    <div class="card-body">
        {{#each sidebar.popular}}
        <img src="{{ruta}}" alt="" class="w-100 h-100 img-thumbnail">
        {{/each}}
    </div>
</div>